@page
@using LuxeIQ.Common
@using LuxeIQ.ViewModels

@model setpasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">

    <title>LuxeIQ Admin - Set Password </title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/skin_color.css">
</head>
<body class="hold-transition theme-primary bg-img" style="background-image: url('/images/auth-bg/bg-1.jpg')">
    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary">LuxeIQ</h2>
                                <p class="mb-0">@Model.user.name</p>
                                <p class="mb-0">@Model.user.email</p>
                                <p class="mb-0"><b>Please set your password to use LuxeIQ.</b></p>

                            </div>
                            <div class="p-40" style="padding-top:20px !important">
                                @* <div class="col-12 col-lg-12 col-xl-12">
                                <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-img bbsr-0 bber-0" style="background: url('../images/gallery/full/10.jpg') center center;" data-overlay="5">
                                <h3 class="widget-user-username text-white">@Model.user.name</h3>
                                <h5 class="widget-user-desc text-white" style="display:@((Model.user != null && Model.user.userType =="M" && Model.user.ManufacturerId > 0)||(Constants.LUXEIQ_LOGIN_USER=="admin" && Model.manufacturers.Count() > 0)?"flex":"none");">
                                @if (Model != null && Model.user.ManufacturerId > 0 || (Constants.LUXEIQ_LOGIN_USER == "admin" && Model.manufacturers.Count() > 0))
                                {
                                @if (Model.manufacturers != null && Model.manufacturers.Count() > 0)
                                {
                                @foreach (var app in Model.manufacturers)
                                {
                                @if (app.manufacturerId == Model.user.ManufacturerId)
                                {
                                <span>@app.businessName</span>
                                }
                                }
                                }
                                }
                                </h5>
                                <h5 class="widget-user-desc text-white" style="display:@((Model.user != null && Model.user.userType =="W" && Model.user.WholesalerId > 0)?"flex":"none");">
                                @if (Model != null && Model.user.WholesalerId > 0)
                                {
                                @if (Model.wholesalers != null && Model.wholesalers.Count() > 0)
                                {
                                @foreach (var app in Model.wholesalers)
                                {
                                @if (app.wholesalerId == Model.user.WholesalerId)
                                {
                                <span>@app.businessName</span>
                                }
                                }
                                }
                                }
                                </h5>
                                <h5 class="widget-user-desc text-white" style="display:@((Model.user != null && Model.user.userType =="SA" && Model.user.MTerritoryId > 0)?"flex":"none");">
                                @if (Model != null && Model.user.MTerritoryId > 0)
                                {
                                @if (Model.manufacturersTerritory != null && Model.manufacturersTerritory.Count() > 0)
                                {
                                @foreach (var app in Model.manufacturersTerritory)
                                {
                                @if (app.territoryId == Model.user.MTerritoryId)
                                {
                                <span>@app.salesTerritory</span>
                                }
                                }
                                }
                                }
                                </h5>
                                <h5 class="widget-user-desc text-white" style="display:@((Model.user != null && Model.user.userType =="SH" && Model.user.WholesalerShowroomId > 0)?"flex":"none");">
                                @if (Model != null && Model.user.WholesalerShowroomId > 0)
                                {
                                @if (Model.wholesalershowroom != null && Model.wholesalershowroom.Count() > 0)
                                {
                                @foreach (var app in Model.wholesalershowroom)
                                {
                                @if (app.showroomId == Model.user.WholesalerShowroomId)
                                {
                                <label>@app.businessName</label>
                                }
                                }
                                }
                                }
                                </h5>

                                <h6 class="widget-user-desc text-white">
                                @if (Model != null && Model.user != null)
                                {
                                @if (!string.IsNullOrEmpty(Model.user.userType))
                                {
                                @if (LuxeIQ.Common.Utilities.ParseEnum<UserType>(Model.user.userType) == UserType.M)
                                {
                                <span>Manufacturer Admin</span>
                                }
                                else if (LuxeIQ.Common.Utilities.ParseEnum<UserType>(Model.user.userType) == UserType.W)
                                {
                                <span>Wholesaler Admin</span>
                                }
                                else if (LuxeIQ.Common.Utilities.ParseEnum<UserType>(Model.user.userType) == UserType.SA)
                                {
                                <span>Manufacturer Rep</span>
                                }
                                else if (LuxeIQ.Common.Utilities.ParseEnum<UserType>(Model.user.userType) == UserType.SH)
                                {
                                <span>Showroom User</span>
                                }
                                }
                                }
                                </h6>
                                <h6 class="widget-user-desc text-white">
                                @Model.user.email
                                </h6>
                                </div>
                                </div>
                                </div> *@
                                <form method="post">
                                    <div class="col-md-12">
                                        <div class="form-group clearfix">
                                            <label class="col-sm-3 col-form-label">Password</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.user.password, new { @class = "form-control", @type = "password", @placeholder = "enter password" })
                                                @Html.ValidationMessageFor(model => model.user.password)
                                                @Html.HiddenFor(model => model.user.userId)
                                                @Html.HiddenFor(model => model.user.ManufacturerId)
                                                @Html.HiddenFor(model => model.user.MTerritoryId)
                                                @Html.HiddenFor(model => model.user.WholesalerId)
                                                @Html.HiddenFor(model => model.user.WholesalerShowroomId)
                                                @Html.HiddenFor(model => model.user.userType)
                                                @Html.HiddenFor(model => model.user.zipCode)
                                                @Html.HiddenFor(model => model.user.address)
                                                @Html.HiddenFor(model => model.user.city)
                                                @Html.HiddenFor(model => model.user.state)
                                                @Html.HiddenFor(model => model.user.country)
                                                @Html.HiddenFor(model => model.user.email)
                                                @Html.HiddenFor(model => model.user.name)
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 col-form-label">Confirm Password</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.user.confirmpassword, new { @class = "form-control", @type = "password", @placeholder = "confirm password" })
                                                @Html.ValidationMessageFor(model => model.user.confirmpassword)
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 col-form-label">Phone</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.user.phone, new { @class = "form-control", @type = "number", @maxlength = "10", @placeholder = "enter phone number" })
                                                @Html.ValidationMessageFor(model => model.user.phone)
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <label class="col-sm-4 col-form-label">WhatsApp Mobile</label>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.user.whatsappMobile, new { @class = "form-control", @type = "number", @maxlength = "10", @placeholder = "enter whatsapp mobile" })
                                                @Html.ValidationMessageFor(model => model.user.whatsappMobile)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer text-end">
                                        <a type="button" name="reset" class="btn btn-block btn-warning">Reset</a>
                                        <input class="btn btn-block btn-primary" type="submit" name="btnSave" value="Submit" />
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" style="height:0% !important">
        <div id="loader"></div>
    </div>
    <!-- Vendor JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/vendors.min.js"></script>
    <script src="~/js/pages/chat-popup.js"></script>
    <script src="~/assets/icons/feather-icons/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/helpers.js"></script>
    <script type="text/javascript">
        Helpers.setFormDefaultValidator();
        $(document).ready(function () {

            $('a[name=reset]').on("click", function (e) {
                $("input[class='form-control']").val("");
            });
            $('input[type=submit]').on("click", function (e) {
                $("form").find("input,textarea,select").each(function () {
                    if ($(this).is(":visible") && $(this).attr("id") != "user_whatsappMobile") {
                        $(this).prop("disabled", false).rules('add', {
                            required: true
                        });
                    }
                    else {
                        //alert($(this).attr("id"));
                        $(this).rules('remove', 'required');
                    }
                });
                if (!$("form").valid()) {
                    e.preventDefault();
                    return;
                }
                else if ($("#user_password").val() != $("#user_confirmpassword").val()) {

                    alert('Password must match with confirm password');
                    e.preventDefault();
                    return;
                }
                else if ($("#user_password").val() == $("#user_confirmpassword").val()) {
                    var password = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$", "ig");
                    if (!password.test($("#user_password").val())) {
                        alert('Password should contain minimum eight characters, at least one letter and one number');
                        e.preventDefault();
                        return;
                    }
                }
            });
            $('form').data('validator', null);
            $.validator.unobtrusive.parse($('form'));
        });
    </script>
</body>
</html>

